.containerContent {
    z-index: 1;
    position: relative;
    padding: 58px 46px 58px 46px;
    display: block;
    float: left;
    width: 848px;
}  
.col1{width: 100%; position: relative; float: left;}
.col2{width: 268px; position: relative; float: left;}
.col3{width: 232px; position: relative; float: left;}
.col4{width: 520px; position: relative; float: left;}
.col5{width: 294px; position: relative; float: left;}
.col6{width: 300px; position: relative; float: left;}
.col7{width: 200px; position: relative; float: left;}