@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(/fonts/Oswald-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'), url(/fonts/Oswald-Bold.ttf) format('truetype');
}
/* Left & Right alignment */
.left { float:left; }
.right { float:right; }
.wrapper {width:100%; overflow:hidden; }
/* Global properties -------------------------------------------------------- */
.glob{width:100%; height:100%; position:absolute; overflow:hidden; }
body{font-family:'Trebuchet MS',serif; color:#fff; background: url(../images/partBg.jpg); line-height:20px; min-width:980px; min-height:100%; position:absolute; width:100%; height:100%; overflow:hidden; }
/* Global Structure --------------------------------------------------------- */
.main {margin:0px auto 0 auto; 	width: 940px; z-index:2; height:100%; }
.page_spinner{ position:fixed; background:#edce60; z-index:99; width:100%; height:100%; top:0; left:0}
.page_spinner > span{position: absolute; left: 50%; top: 50%;}
/* ----------------------------- main layout -------------------------------- */
a{ color:#fff; text-decoration:none; outline:none; font-size: 14px; }
a:hover{ text-decoration:underline}
h1{float:left;position: relative;}
h2{font-family: 'Oswald', sans-serif; color:#fff; font-size:32px; line-height: 32px; width:100%;  text-transform: uppercase; font-weight: normal; padding-bottom: 26px;}
p{padding-bottom: 24px; font-size: 14px; color: #fff; line-height: 24px; }
.center{ padding:0; width:100%; position: relative; display: inline-block;}
/* ----------------------------- header ------------font-family: 'Oswald', sans-serif;------------------- */
header{position: relative; width: 940px; height: 210px; z-index: 3;  margin: 0 auto;float: left;text-align: center;}
#logo{
    display:inline-block;
}
#logo p {
    color: #000;
    font-weight: bold;
    font-family: Oswald, Arial;
}
#logo p:first-child {
    font-size: 42pt;
    text-transform: uppercase;
}
#logo p:nth-child(2) {
    font-size: 14pt;
}
#logo:hover{
    text-decoration:none;
}
.logoHolder{ display:inline-block; position: relative; height: 125px; margin-top: 2px; margin-top: 50px;}
.menu{position:relative; z-index:1; display: inline-block; }
.menuHolder{ display:inline-block; position: relative; width: 940px; height: 210px; z-index: 1; left: 0; text-align: center; padding: 52px 0 200px 0;}
#menu {z-index:3; position:relative; display: inline-block;float: left;}
#menu > li{position:relative; color: white;  text-align: left; height: 210px;display: inline-block;float: left; width: 175px; margin: 0 20px;}
#menu > li > a{  display: block; text-transform:uppercase; position:relative;  height: 210px;  width: 175px;  z-index: 1;}
#menu > li > a:hover{text-decoration:none;}
#menu > li.active > a{text-decoration:none;}
.submenu_1{position:absolute; z-index:2; top: 218px; left: 24px;   display: block;  background: #fff; width: 126px;box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);}
.submenu_1 li{ position:relative; display:inline-block;  height: 24px; float: left; width: 100%; margin: 5px 0;}
.submenu_1 a{font-family: 'Oswald', sans-serif; font-size: 15px; color: #1b1b1b; background: #fff; display:inline-block; text-transform:uppercase; line-height: 24px; width: 100%;text-align: center;}
.submenu_1 li:hover > a, .submenu_1 li.sfHover > a{text-decoration:none; color:#fff; background: #1b1b1b;}
.submenu_1 .padTop{margin-top: 15px;}
.submenu_1 .padBot{margin-bottom: 15px;}
.mText{
    font-family: 'Oswald', sans-serif;
    line-height: 20px;
    color: #1b1b1b;
    font-size: 12px;
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin-top: 14px;
}
.mSymbl{font-family: 'Oswald', sans-serif; line-height: 200px; color: #fff; font-size: 130px; position: absolute;  width: 100%;z-index: 2;text-align: center;}
.hintHolder{
    background: url(../images/extra1.png) 0 0 no-repeat;
    width: 127px;
    height: 66px;
    position: absolute;
    display: inline-block;
    margin: 0 24px;
}
._area{position: absolute; width: 100%; height: 100%; top: 0; z-index: 3;left: 0;display: block; background: url(../images/pixel.png);}
._overPl{position: absolute; width: 100%; height: 100%; top: 80px; z-index: 2;left: 0;display: block; background: #dc625a;}
.more{font-family: Arial, sans-serif;  color: #fff; font-size: 13px; line-height: 22px;text-decoration: underline;}
.more:hover{text-decoration: none;}
/* ----------------------------- content ---------------------- */
#content{position:relative;  z-index: 1; width: 100%; margin: 0 auto; display: block;  float: left;overflow: visible;}
#content > ul{width: 940px; height: 462px; z-index: 0; display: inline-block;position: relative;overflow: visible;}
#content > ul > li{width: 940px; display:block; position:absolute; }
.box{ width: 940px; position: relative; display: inline-block; background: #1b1b1b;}
.underline{text-decoration:underline; }
.space1{display:inline-block; width: 85px;}
.padRight1{padding-right: 40px;}
.padRight2{padding-right: 34px;}
.padRight3{padding-right: 20px;}
.padBot1{padding-bottom: 10px;}
.padBot2{padding-bottom: 10px;}
.color1{color: #ebd370;}
._link1{font-size: 12px; color: #434343;}
._link1:hover{font-size: 12px; text-decoration: underline;}
._link3{font-size: 14px; color: #ebd370; font-weight: bold;}
._link3:hover{font-size: 14px; color: #fff; text-decoration: underline;}
._link4{font-size: 14px; color: #ebd370; font-weight: normal;}
._link4:hover{font-size: 14px; color: #fff; text-decoration: underline;}
._list1{width: 100%; position: relative;}
._list1 > li{position: relative; width: 100%; background: url(../images/marker.png) 0 50% no-repeat;margin-bottom: 7px;}
._list1 > li > a{color: #ebd370; font-size: 14px; text-decoration: underline; margin-left: 24px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
._list1 > li > a:hover{color: #fff; font-size: 14px; text-decoration: none; margin-left: 30px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
._fig1{width: 254px; height: 267px; background: #323232;}
._fig1 > a{position: relative; margin: 15px;width: 224px;height: 182px;display: inline-block;}
._fig1 > figcaption{width: 226px;margin: 0 15px;}
._fig1 p{padding-bottom: 0;}
.closeHolder{position: absolute;display: inline-block;z-index: 2;right: 12px;top: 14px;}
.closeHolder > a{position: relative; z-index: 2;margin: 4px;}
#jcarousel_1{width: 100%; margin-top: 10px;}
#jcarousel_1 > ul{width: 100%;}
#jcarousel_1 > ul > li{width: 254px; height: 267px; position: relative; float: left; margin-right: 42px;}
.btnHolder{position: absolute; top: 2px; right: 0px;width: 73px;z-index: 2;}
.scrButn{position: relative; margin-right: 0px;}
.zoomSp{display:block; position:absolute; left:0; top:0; width: 224px; height: 182px; z-index:3; background: url(../images/magnify.png) 50% 50% no-repeat; }
.extra1{background: url(../images/extra3.png) 0 0 no-repeat; width: 16px; height: 16px; position: absolute;top: -31px;left: 93px;}
.extra2{background: #000000; width: 157px; height: 3px; position: absolute;top: 103px;left: 8px;z-index: 2;}
.sprite1{background: url(../images/sprite1.png) 0 0 no-repeat; width: 255px; height: 278px; position: absolute;top: -35px;left: -41px;z-index: 0;}
/* ----------------------------- footer ---------------------- */
footer{position: relative; width: 100%; z-index: 0;  height: 80px; display: inline-block;  bottom: 0; float: left;}
.mainFooter { z-index:2; margin-top: 26px;}
.textPrivacy{font-family:'Trebuchet MS',serif;  font-size: 12px;   color: #434343; position:relative; display:inline-block;  text-transform: uppercase; font-weight: normal;letter-spacing: 0px;margin-top: 3px;}
.privHold{ line-height: 20px; position: relative; display: inline-block; margin: 0 auto; width: 100%;}
.followHolder{position: relative;display: inline-block;float: right;}
.followHolder > ul{display: inline-block;}
.followHolder > ul > li{display: inline-block; float: left;margin-left: 8px;}
/*-----------------------------------Map-------------------------------------*/
.google_map{margin:0; width:300px; height:268px; background: #fff;}
.google_map > span{position: absolute; top: 50%; left: 50%;}
/* ----------------------------- forms ----------------------------- */
#ContactForm {
	padding:0; 
}
#ContactForm .bg{
	padding:0; 
	display: inline-block;
	float: left;
	position: relative;
}
#ContactForm .wrapper {
	overflow:inherit; 
	min-height:40px; 
}
#ContactForm .success { 
    text-transform:uppercase; 
	font-size:10px; 
    position:relative; 
    float:left; 
	color: #fff; 
	width: 100%; 
	line-height: 11px;
	padding-bottom: 2px;
}
#ContactForm label {
	position:relative; 
	display:inline-block;  
	float: left; 
	width: 100%;
	padding-bottom: 10px;
}
#ContactForm .error,#ContactForm .empty {
	font-size: 10px; 
	color: #fff; 
	line-height:9px; 
	display:none; 
	width: 100%; 
	top:0px; 
	position:relative; 
    text-transform:uppercase; 
	float: left;
}
#ContactForm a {
	position:relative; 
	z-index:1; 
}
#ContactForm a:hover {text-decoration:none;}
#ContactForm .input {
	width: 272px; 
	padding: 5px 10px; 
	color: #fff; 
	outline:none; 
	font-size: 14px;  
	background: #272727; 
	border: 1px solid #4c4c4c;
    font-family: 'Trebuchet MS', serif;
	box-shadow: none;
}
#ContactForm textarea {
	overflow:auto; 
	margin:0; 
	width: 272px; 
	height: 132px;  
	padding: 5px 10px; 
	color: #fff; 
	resize:none; 
	outline:none; 
	font-size: 14px;  
	background: #272727;
	font-family: Arial;
	border: 1px solid #4c4c4c;
    font-family: 'Trebuchet MS', serif;
	box-shadow: none;
}
#ContactForm .block {
	display:inline-block; 
	position:relative; 
	width: 100%; 
	float: left; 
}

#ContactForm .marNone{margin: 0;} 
#ContactForm .marRight1{margin-right: 12px;} 
.formButtons{position:relative; float: right;  display: inline-block;margin-top: 8px;}
.formBtn{display:inline-block;  position:relative;  margin-left: 12px;}
/* ----------------------------- end forms ----------------------------- */

.text-center {
    text-align: center;
}

.round {
    border-radius: 100%;
}