body {
    background: #fff;
}

.display-block {
    display: block;
}


.display-inline-block {
    display: inline-block;
}

.hide {
    display: none;
}

.border-radius-none {
    border-radius: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}