<nav id="navbar" class="navbar navbar-inverse border-radius-none">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{$admin_panel}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="external" href="/">{$site}</a>
                </li>
                <li><a id="logout" class="cursor-pointer">{$logout}</a></li>
            </ul>
        </div>
    </div>
</nav>